<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places Visited</title>
    <div class="header">

        <div class="container_header">
            <div class="left-div"><h1>Countries I have visited!!</h1> </div>
            
        </div>

       
</div>


    <link rel="stylesheet" href="styles.css">



</head>

<main class="container">

</html>