<%- include("partials/header.ejs") %>

<h2>Add Country Visited</h2>

<form style="margin: 10px;" action="/compose" method="POST">
    <input type="text" name="countryName" placeholder="Country name">
 
    <input class="my-button" type="submit">
    
</form>

<div class="right-div"><a href="/"> <Button class="my-button">Home Page</Button></a></div>


</main>

<footer>

<div class="bottom-section_add">
    <div class="copyright">
        &copy; 2024 Ravi Loi. All rights reserved.
      </div>
</div>
</footer>
